{% extends 'base.html' %}

{% block content %}
<br>
<h1 class="ml-5">Introduction</h1>

<p class="m-5">

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquam velit at tellus gravida dapibus. Integer viverra hendrerit ex, eget pharetra orci auctor ac. Curabitur tempor quam at posuere pharetra. Proin at magna semper dolor congue congue quis a sem. Duis aliquam, ante ut efficitur gravida, diam sem placerat purus, quis venenatis nisl lacus a felis. Etiam commodo, leo commodo rutrum luctus, nisl lorem molestie eros, at mollis sem odio eu turpis. Nam ut risus ante.
    
    Maecenas eu posuere nisi, et tincidunt sem. Quisque gravida, est fringilla vulputate sodales, mauris ex bibendum erat, et pellentesque ex felis vitae sapien. Duis tellus dui, tincidunt quis orci sit amet, eleifend fringilla tortor. Maecenas a posuere ipsum. Etiam eu massa eget justo vulputate tristique. Fusce convallis semper dapibus. Nullam in libero pretium, mattis arcu eu, sollicitudin sapien. Nam aliquam neque id augue pharetra, ut tincidunt arcu laoreet. Mauris vel magna vitae nisi tincidunt facilisis. Nulla in viverra turpis. Integer quis turpis aliquam, laoreet nisi at, auctor leo. Nunc tincidunt at leo et rutrum. Ut feugiat tellus et arcu elementum ultrices.
    
    Mauris quis auctor nulla. Donec scelerisque vel nisl nec ultricies. In hac habitasse platea dictumst. Morbi vitae mollis diam, in posuere lorem. Sed eget neque volutpat, interdum tortor quis, ultricies mi. Cras vitae orci elit. Integer venenatis volutpat pellentesque. Donec vestibulum et ipsum eget ultricies. Integer bibendum velit elit, nec pharetra massa semper non.
    
    In neque mi, laoreet in est sit amet, venenatis laoreet mauris. Sed mattis arcu nec lectus ultricies venenatis sit amet ac arcu. Sed iaculis odio ut nibh rhoncus aliquam. Nullam scelerisque vitae elit sodales faucibus. In in lacus dui. In nec tellus varius, luctus metus nec, ultrices sem. Etiam quis hendrerit mauris, ut iaculis augue. Nulla sit amet ex quam. Curabitur aliquam vehicula quam, semper pulvinar erat ornare non. Cras tristique imperdiet orci, eu viverra mi luctus et. Mauris efficitur nulla at gravida aliquam. In semper convallis sollicitudin. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus blandit nisl nisi, in auctor leo lacinia nec. Quisque non ante id urna porta cursus ut nec urna. Vestibulum imperdiet, arcu sed consequat venenatis, sem magna viverra metus, eu luctus erat nisl quis urna.
    
    In hac habitasse platea dictumst. Aenean dapibus est sed elit molestie tempus. Cras ac sem id mauris convallis aliquet sit amet eget urna. Duis pulvinar lectus mattis pharetra aliquam. Pellentesque aliquet vel est sit amet molestie. Vestibulum non dolor nunc. Duis placerat nibh at egestas accumsan. Etiam ornare nulla varius turpis malesuada, nec laoreet turpis maximus. 
</p>

<form action="" method="post">
    {% csrf_token %}
    <input class="btn btn-success ml-5" type="submit" value="Done">
</form>
{% endblock content %}