{% extends 'base.html' %}

{% block content %}
<style>
    .container {
        width: auto;
        max-width: 680px;
        padding: 0 15px;
      }
</style>
<main role="main" class="container mt-2">
<h1 class="text-center">Introduction</h1>

<p>
    This type of Cross Site Scripting attack(XSS) is one in which HTML/JS code contained in any query parameter (GET, POST or even cookies) is then displayed in the response. It is said that the value of the parameter has been reflected in the response, hence the name &#8222;Reflected XSS". <br>For instance in following popular search request:<br><code>http://www.randomsite.com/search=our_arbitrary_query</code><br> Search parameter is being set by an user and it could be anything. If we don't sanitize the input then the following request: <br><code>http://www.randomsite.com/search=&lt;script&gt;alert(1)&lt;/script&gt;</code><br> Would execute<code> alert(1) </code> function.</p>
    <p> The practical use of Reflected XSS usually involves sending a the victim a suitably crafted link (e.g. by e-mail or instant messaging) containing malicious code.</p>


<form action="" method="post">
    {% csrf_token %}
    <input class="btn btn-success" type="submit" value="Completed!">
</form>

</main>
{% endblock content %}