{% extends 'base.html' %}

{% block content %}

{% load static %}
<style>
  img{
    width: 20%;
  }
</style>
<script src="{% static 'website/js/scripts.js' %}"></script> 
<div class="container">
<img class="img-fluid" src="{% static 'reflected_xss/images/search_engine_logo.png' %}" alt="My image">

<form class="ml-2" action="" method="get">
<input type="text" name="search" id="search-text">
<input type="submit" value="Search">
</form>
<br>
{% if search %}
<p class="ml-2">No results found for {{ search|safe }}</p>
{% endif %}
{% if completed %}
<h1>You have already completed that level</h1>
{% endif %}
<div class="modal fade" id="congrats-modal" tabindex="-1" role="dialog" aria-labelledby="congrats-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="congrats-modal-label">Congratulations</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          You have found a way to execute XSS payload into the site.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a href='{% url 'reflected_xss_level2' %}'><button type="button" class="btn btn-primary">Next challenge</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}