{% extends 'base.html' %}

{% block content %}
<style>
  img{
    width: 20%;
  }
</style>
{% load static %}
<script src="{% static 'website/js/scripts.js' %}"></script>
<script src="{% static 'reflected_xss/js/scripts.js' %}"></script>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center col-8">
  <h1 class="display-4">More secure custom search engine</h1>
  <p class="lead">Welcome to our search engine! We are sure you will find some exciting websites here and won't inject any payload here!</p>

<img class="img-fluid" src="{% static 'reflected_xss/images/search_engine_logo.png' %}" alt="My image">

<form class="ml-2" action="" method="get" onsubmit="sanitizeForm()">
  <input type="text" class="mt-3" name="search" id="search-text">
  <input type="submit" class="btn btn-primary" value="Search">
</form>
{% if search %}
<p class="m-2 lead">No results found for {{ search|safe }}</p>
{% endif %}
</div>
<div class="modal fade" id="congrats-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Congratulations</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>You have successfully finished all challenges in this module. Congratulations!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a href='{% url 'learn' %}'><button type="button" class="btn btn-primary">Back to modules</button></a>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}