{% extends 'base.html' %}

{% block content %}
<h1>Reflected XSS module</h1>
<div class="list-group mr-2 ml-2"> 
    <a href="{% url 'reflected_xss_introduction' %}" class="list-group-item list-group-item-action list-group-item-{% if module.challenge_completition >= 1 %}success{% else %}dark{% endif %} mb-1">Introduction</a>
    <a href="{% url 'reflected_xss_level1' %}" class="list-group-item list-group-item-action list-group-item-{% if module.challenge_completition >= 3 %}success{% else %}dark{% endif %} mb-1">Level 1</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-{% if module.challenge_completition >= 7 %}success{% else %}dark{% endif %}">Level 2</a>
  </div>
{% endblock content %}