{% extends 'base.html' %}

{% block content %}
<style>
    .container {
        width: auto;
        max-width: 680px;
        padding: 0 15px;
      }
</style>
<main role="main" class="container mt-2">
    <h1 class="text-center">Introduction</h1>

    <p>
        Another typical example of XSS is the so-called persistent XSS or stored XSS. 
In this case, the malicious JS code is stored in a database (or other external system) and executed automatically when you navigate to the relevant subpage. In such a situation, there is usually no need to interact with the victim, as it can be assumed that they will eventually visit the attacked sub-site.</p>
<p>As an example of this type of XSS vulnerability, let's take a blog system where
users can leave comments. An attacker could post a following comment:<br><code>Very cool blog!&lt;script&gt;alert(1)&lt;/script&gt;</code><br>
When the blog administrator visits the page with the list of comments, the above JS code
code will be automatically executed, resulting in an XSS vulnerability.</p>

<form action="" method="post">
    {% csrf_token %}
    <input class="btn btn-success" type="submit" value="Completed!">
</form>

</main>
{% endblock content %}