{% extends 'base.html' %}

{% block content %}
{% load static %}
<script src="{% static 'website/js/scripts.js' %}"></script>
<h1>Level 1</h1>
<br>
<form action="level1_create_comment" method="post">
    {% csrf_token %}
    <label for="comment-id">Comment me!</label>
    <input type="text" name="comment" id="comment-id">
    <input type="submit" value="Comment">
</form>
<div id="comment-container">
    {% for comment in comments %}
    <p>
    {{ comment|safe }}
    </p>
    {% endfor %}
</div>
{% endblock content %}

