{% extends 'base.html' %}

{% block content %}
{% load static %}
<script src="{% static 'website/js/scripts.js' %}"></script>
<script src="{% static 'stored_xss/js/scripts.js' %}"></script>
<button type="button" class="btn btn-success float-right m-2 btn-sm" data-toggle="modal" data-target="#hint-modal">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
    </svg>
  Hint
</button>
<div class="container" style="padding-bottom: 200px;">

  


    
      <div class="blog-post m-4">
        <h2 class="blog-post-title text-center">Welcome on Custom Blog Platform!</h2>
        <p class="blog-post-meta">December 12, 2018 by <a href="#">John</a></p>

        <p>Sed posuere felis nec ex consequat laoreet in vitae sapien. Donec rutrum sem velit, sed convallis nibh vulputate non. Suspendisse posuere, est sit amet efficitur volutpat, arcu libero dapibus mi, eu pharetra quam odio sed erat. Praesent egestas, ante nec dapibus accumsan, eros tellus porta risus, a scelerisque purus erat nec ipsum. Cras ac hendrerit neque. Proin quis libero non leo vehicula tempor. Nam consequat, tortor at luctus feugiat, diam ipsum consequat dui, sed finibus ante diam dictum lacus. Nulla iaculis risus nunc, vitae finibus mi lobortis non. Sed vestibulum elit felis, et feugiat arcu iaculis non. Aliquam commodo sapien quis justo mollis auctor. Integer maximus lacinia nunc non cursus. Sed gravida lacinia pulvinar. Nunc elementum vel velit vitae elementum. Nunc sit amet consequat elit. </p>
        <hr>
        <p>Nulla sit amet quam a nunc dapibus sollicitudin vitae sit amet augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc aliquam quam at massa blandit dignissim.</p>
       <br>
        <hr class="col-xs-12">
        <h3 class="text-center" id="comment">Comment our blog!</h3>
      </div>




<!-- Challenge related code -->

<br>
<form action="level1_create_comment" method="post">
  {% csrf_token %}
  <div class="input-group input-group-lg">
    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary" type="submit" value="Comment">Comment</button>
    </div>
    <input type="text" name="comment" id="comment-id" class="form-control">
  </div>
</form>
<hr class="col-xs-12">
<div class="row"> 
<div id="comment-container" class="col-12">
    {% for comment in comments %}
    <p id="comment{{comment.pk}}" class="col-12 py-3 mb-4 border-top border-bottom lead">
    {{ comment|safe }}
    <button class="btn btn-danger btn-sm float-right" type="submit" onclick="delete_comment({{ comment.pk }})">Delete comment</button>
    </p>
    {% endfor %}
</div>
</div>

<!-- Challenge related code -->

</div>

<div class="modal fade" id="hint-modal" tabindex="-1" aria-labelledby="hint-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-body">
        <p>Try to execute xss() function using html &lt;script&gt; tag.</p>
        <p>If you are still having problems with this challenge, consider visiting <a target="_blank" href="https://owasp.org/www-community/attacks/xss/">Owasp XSS article</a> for more information.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="congrats-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Congratulations</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          You have found a way to execute XSS payload into the site.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a href='{% url 'stored_xss_level2' %}'><button type="button" class="btn btn-primary">Next challenge</button></a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

