{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'stored_xss/css/styles.css' %}">
<script src="{% static 'website/js/scripts.js' %}"></script>

<!-- Challenge related code -->

<script src="{% static 'stored_xss/js/scripts.js' %}"></script>

<button type="button" class="btn btn-success float-right m-2 btn-sm" data-toggle="modal" data-target="#hint-modal">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
    </svg>
  Hint
</button>

<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Welcome to Image Dropper!</h1>
      <p class="lead text-muted">You can upload or download copyright-free images here!</p>
      <p>    
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Upload
            </button>
          </h5>
        </div>
    
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <form class="p-3" action="{% url 'stored_xss_level3_create_image' %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="mb-3">
                <label for="comment-input" class="form-label">Upload your image!</label>
                <input id="comment-input" class="form-control" type="text" name="description" placeholder="Provide brief image description">
              </div>
              <div class="input-group mb-3">
                  <button class="btn btn-outline-primary" type="submit">Upload!</button>
                  <input type="file" class="form-control" name="image">
                </div>
          </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Search
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <form class="my-2 my-lg-0">
              <label for="search-id" class="form-label">Search for image!</label>
                <input id='search-id' name='search' class="form-control mr-sm-2" type="text" placeholder="Search for image by its description">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
          </div>
        </div>
      </div>
      
    </div>
  </p>
  </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
          {% if images %}
        {% for image in images %}
        
        
        <div class="col-md-4" id="image{{ image.pk }}">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top img-responsive" src="{{ image.image.url }}" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">{% if image.description %}{{ image.description }}{% endif %}</p>
                <p class="card-text">Image height: {{ image.image.height }}<br>
                  Image width: {{ image.image.width }}<br>
                Image Artist: {% if image.artist %}{{ image.artist|safe }}{% else %}Not provided{% endif %}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <button class="btn btn-sm btn-outline-secondary" type="submit" onclick="delete_image({{ image.pk }})">Delete</button>
                    <a href="{{ image.image.url }}" download>
                      <button class = 'btn btn-secondary'>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                      <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                      <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                    </svg>
                  </button>
                </a>
                </div>
              </div>
            </div>
          </div>
      
          {% endfor %}
          {% else %}
          No images found{% if query %} for {{ query }}{% endif %}
          {% endif %}
        </div>
    </div>
</div>

<!-- Challenge related code -->

<div class="modal fade" id="hint-modal" tabindex="-1" aria-labelledby="hint-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-body">
        <p>Have you ever heard about <a href="https://exiv2.org/tags.html">Image metadata</a> ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="congrats-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Congratulations</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You have successfully finished all challenges in this module. Congratulations!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href='{% url 'learn' %}'><button type="button" class="btn btn-primary">Back to modules</button></a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}