{% extends 'base.html' %}

{% block content %}
{% load static %}
<script src="{% static 'website/js/scripts.js' %}"></script>
<script src="{% static 'stored_xss/js/scripts.js' %}"></script>

<div class="container" style="padding-bottom: 200px;">

  


    
  <div class="blog-post m-4">
    <h2 class="blog-post-title">Sample blog post</h2>
    <p class="blog-post-meta">December 12, 2018 by <a href="#">John</a></p>

    <p>Sed posuere felis nec ex consequat laoreet in vitae sapien. Donec rutrum sem velit, sed convallis nibh vulputate non. Suspendisse posuere, est sit amet efficitur volutpat, arcu libero dapibus mi, eu pharetra quam odio sed erat. Praesent egestas, ante nec dapibus accumsan, eros tellus porta risus, a scelerisque purus erat nec ipsum. Cras ac hendrerit neque. Proin quis libero non leo vehicula tempor. Nam consequat, tortor at luctus feugiat, diam ipsum consequat dui, sed finibus ante diam dictum lacus. Nulla iaculis risus nunc, vitae finibus mi lobortis non. Sed vestibulum elit felis, et feugiat arcu iaculis non. Aliquam commodo sapien quis justo mollis auctor. Integer maximus lacinia nunc non cursus. Sed gravida lacinia pulvinar. Nunc elementum vel velit vitae elementum. Nunc sit amet consequat elit. </p>
    <hr>
    <p>Nulla sit amet quam a nunc dapibus sollicitudin vitae sit amet augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc aliquam quam at massa blandit dignissim.</p>
    <blockquote>
      <p>Fusce placerat vulputate sapien, id hendrerit nisi consectetur non. Nunc a erat vitae velit auctor egestas. <strong>Nunc mauris felis, condimentum at nunc in, pretium tristique ante.</strong> Phasellus magna mi, hendrerit et dolor ut, blandit aliquet nulla. Nullam non arcu velit. Vivamus in ex erat. Phasellus fringilla nunc iaculis est porta tristique. Praesent rhoncus, ex id semper finibus, enim est auctor enim, nec pellentesque lacus lorem quis orci. </p>
    </blockquote>
    <p>Aenean blandit orci quam, non volutpat tortor tincidunt a. Pellentesque commodo nulla nulla, efficitur mollis orci bibendum vitae. Maecenas est ante, varius nec finibus id, molestie vel sem. Vivamus sollicitudin condimentum felis, in posuere justo eleifend at. Praesent nec iaculis nisi, in consectetur orci. Ut viverra nisl ac massa sagittis, elementum feugiat felis facilisis. <em>Sed enim purus, scelerisque tincidunt posuere hendrerit, malesuada nec nisi. Nunc hendrerit dictum dictum.</em> Ut sagittis accumsan lorem vel efficitur.</p>
   <br>
    <hr class="col-xs-12">
    <h3 class="text-center" id="comment">Comment our blog!</h3>
  </div>
<br>
<form action="level2_create_comment" method="post" onsubmit="sanitizeForm()">
  {% csrf_token %}
  <div class="input-group input-group-lg">
    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary" type="submit" value="Comment">Comment</button>
    </div>
    <input type="text" name="comment" id="comment-id" class="form-control">
  </div>
</form>


<hr class="col-xs-12">
<div class="row"> 
<div id="comment-container" class="col-12">
    {% for comment in comments %}
    <p id="comment{{comment.pk}}" class="col-12 py-3 mb-4 border-top border-bottom lead">
    {{ comment|safe }}
    <button class="btn btn-danger btn-sm float-right" type="submit" onclick="delete_comment({{ comment.pk }})">Delete comment</button>
    </p>
    {% endfor %}
</div>
</div>


</div>
<div class="modal fade" id="congrats-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Congratulations</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          You have found a way to execute XSS payload into the site.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

