{% extends 'base.html' %}

{% block content %}

{% load static %}
<script src="{% static 'website/js/scripts.js' %}"></script> 
<button type="button" class="btn btn-success float-right m-2 btn-sm" data-toggle="modal" data-target="#hint-modal">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
    </svg>
  Hint
</button>
<div class="container text-center mt-3" style="padding-bottom: 100px;">
  <h1 class="display-4">Welcome on twetter social media!</h1>
  <p class="lead">You can share your thoughts with our community!</p>
<img src="{% static 'dom_based_xss/images/logo.png' %}" class="img-fluid" style="max-width: 50%; height: auto;">

<!-- Challenge related code -->

<script src="{% static 'dom_based_xss/js/scripts.js' %}"></script>

<form id="textForm" action="" method="POST">
{% csrf_token %}
<div class="form-group m-2">
    <label for="text">Write your twett</label>
    <textarea class="form-control" id="text" rows="3" name="text"></textarea>
</div>
<div class="form-group ml-2">
    <input class="btn btn-primary" type="submit" value="Twett">
</div>
</form>
<hr class="col-xs-12">
  <div class="row"> 
    <div class="col-12" id="text-container">
        {% for text in texts %}
        <p id="text{{text.pk}}" class="col-12 py-3 mb-4 border-top border-bottom lead">
            {{ text }}
           <button class="btn btn-danger float-right btn-sm" type="submit" onclick="delete_text({{ text.pk }})">Delete</button>
        </p>
        {% endfor %}     
    </div>
  </div>

<!-- Challenge related code -->

</div>

<div class="modal fade" id="hint-modal" tabindex="-1" aria-labelledby="hint-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-body">
        <p>&lt;script&gt; tag will not run using innerHTML, you have to find other way to inject xss() function.</p>
        <p>If you are still having problems with this challenge, consider visiting <a target="_blank" href="https://owasp.org/www-community/attacks/DOM_Based_XSS">Owasp DOM Based XSS article</a> for more information.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="congrats-modal" tabindex="-1" role="dialog" aria-labelledby="congrats-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="congrats-modal-label">Congratulations</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          You have found a way to execute XSS payload into the site.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a href='{% url 'reflected_xss_level2' %}'><button type="button" class="btn btn-primary">Next challenge</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}